{% extends "base.html" %}

{% block title %}Detalhes da Usina - AppSolar{% endblock %}

{% block head_extra %}
<!-- CSS 100% focado e isolado para a tela de detalhes -->
<link rel="stylesheet" href="{{ url_for('static', path='css/modulos/detalhes.css') }}?v=12">
<!-- Importando Chart.js para o gráfico de telemetria -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block content %}
<div class="dashboard-header">
    <h2 style="font-size: 18px !important;">
    Telemetria da Usina ({{ marca | capitalize }} - ID: {{ plant_id }})
    </h2>
    <div class="dashboard-actions">
        <button class="btn-atualizar" id="btnAtualizarDataloggers"><i class='bx bx-refresh'></i> Atualizar Dados</button>
    </div>
</div>

<!-- Container principal que será preenchido pelo JS -->
<div id="container-detalhes-usina">
    <div class="loading-state">
        <p>Buscando telemetria e equipamentos...</p>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    // As variáveis serão injetadas primeiro!
    window.AppConfig = {
        plantId: "{{ plant_id }}",
        marcaUsina: "{{ marca }}"
    };
    console.log("🔥 Variáveis Injetadas pelo Jinja2 no HTML:", window.AppConfig);
</script>
<!-- E logo em seguida o script é chamado! -->
<script src="{{ url_for('static', path='js/detalhes.js') }}?v=10"></script>
{% endblock %}